.expense-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    margin: 10px 0;
    color: #416391;
    padding: 10px;
}
.first-col {
    display: flex;
    flex-direction: row;
    gap: 1.1rem;
}
.date {
    width: 60px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #0FEDAC;
    border-radius: 8px;
    border: 2px solid #0FEDAC;
    padding: 4px;
}
.date :nth-child(1) {
    font-weight: bold;
}
.date :nth-child(2) {
    font-weight: bold;
}